@CHARSET "ISO-8859-1";

* {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 1em;
    padding: 1em;
    width: 16em;
    border: 0.1em solid #000;
    float:left;
}
.zeile{
	display:table-row;
	width:100%;
}
input#timeStart{
	width:3em;
	float:left;
}

 input#timeEnd{
	width:3em;
	float:right;
}

select{
	width:6em;
}